/*  File: settings.css
    Description: The CSS style for the popup/inside of popup. Does not include popup icon
    Items are in order that they are in index.html
*/

/* The Setting's Popup (includes grey background and content) */
.settingsPopup {
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	margin: auto;
	justify-content: center;
	align-items:  center;
	display: none;
	overflow: scroll;
}

/* The Settings content (white square) */
.settingsContent {
	top: 5%;
	margin: auto;
	width: 40%;
    background-color: white;
    opacity: 1;
    position: relative;
    padding: 20px;
    text-align: center;
}

form {
    text-align: center;
}

/* Settings Title  */
h2 {
    text-align: center;
    font-family: verdana;
    size: 20px;
    line-height: 1;
}

/* Sub-Settings Titles */
h3 {
    font-family: verdana;
    size: 14px;
    align: center;
}

/* Submit Button */
.submitButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Close Button */
.closeButton {
    background-color: #b91000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}