/*  File: style.css
    Description: The CSS style for main page
*/

/* Title */
h1 {
    font-family: "verdana";
	font-size: 50px;
	text-align: center;
	color: black;
}

.settingsButton {
	position: absolute;
	right:14px;
}

/* Body */
body {
    background-color: gold;
}

/* Grid (type is svg) */
svg {
    display: block;
    margin: auto;
}

/* Triangles */
polygon {
    stroke: black;
    fill:white;
}


.btn-group {
    text-align: center;
}


.gameButton {
    align-items: center;
    display: inline-block;
    padding: 15px 32px;
    border: none;
    font-size: 20px;
    color: gold;
    background-color: black;
    font-family: Arial;
}

/* The Setting's Popup (includes grey background and content) */
.reportPopup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    margin: auto;
    justify-content: center;
    align-items:  center;
    display: none;
    overflow: scroll;
}

/* The Settings content (white square) */
.reportContent {
    top: 5%;
    margin: auto;
    width: 40%;
    background-color: white;
    opacity: 1;
    position: relative;
    padding: 20px;
    text-align: center;
}