/*  File: style.css
    Description: The CSS style for main page
    SLOC: 57
*/

/* Title of the main page: Triangular Game of Life*/
h1 {
    font-family: "verdana";
	font-size: 50px;
	text-align: center;
	color: black;
}

/* Settings Gear Icon */
.settingsButton {
	position: absolute;
	right:14px;
}

/* Background color for the main page*/
body {
    background-color: gold;
}

/* Grid (type:svg) */
svg {
    display: block;
    margin: auto;
}

/* All the triangles. (Fill is customizable) */
polygon {
    stroke: black;
    fill:white;
}

/* Centers the main buttons: Play/Stop, Clear, Get Report, Random */
.btn-group {
    text-align: center;
}

/* Customizes the main buttons: Play/Stop, Clear, Get Report, Random */
.gameButton {
    align-items: center;
    display: inline-block;
    padding: 15px 32px;
    border: none;
    font-size: 20px;
    color: gold;
    background-color: black;
    font-family: Arial;
}

/* The "Get Report" Popup (includes grey background and content) */
.reportPopup {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    position: fixed;
    margin: auto;
    justify-content: center;
    align-items:  center;
    display: none;
    overflow: scroll;
}

/* The "Get Report" content (white square) */
.reportContent {
    top: 5%;
    margin: auto;
    width: 40%;
    background-color: white;
    opacity: 1;
    position: relative;
    padding: 20px;
    text-align: center;
}
