h1 {
	font-family: "verdana";
	font-size: 50px;
	text-align: center;
	color: black;
}
.container{
	text-align: center;
	margin-top: 360px;


}
.setting{
	position: absolute;
	right:14px;
}
button{
	
	
}
.btn-group button{
  position: relative;
  bottom: -200px;
 font-family: "verdana";
 font-size: 20px;
  background-color: black; /* Green background */
  border: 2px solid black; /* Green border */
  color: gold; /* White text */
  /*padding: 10px 10px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  width: 30%; /* Set a width if needed */
  padding:30px;
  display: block; /* Make the buttons appear below each other */
  /*align-content: center;*/
  margin-bottom: 20px;
  position: center;
}

.msg{
	font-family: "times";
}
.bg{
	background-color: gold;

}
.btn{
background-color: black;
color:gold;
font-family: 'verdana';
padding : 30px;
font-size: 20px;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: grey;
}

.pop{
	width:100%;
	height: 100% ;
	background-color: rgba(0,0,0,0.6);
	
	position: absolute;
	top: 0;
	/*display: flex;*/
	justify-content: center;
	align-items:  center;
	display:none;
}
.popContent{
width: 500px;
height: 300px;
background-color: white;
opacity: 1;
position: relative;
padding: 20px;
}
.close{
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 40px;
	transform: rotate(45deg);
	cursor: pointer;
	
}
.pop1{
	width: 100%;
	height: 100% ;
	background-color: rgba(0,0,0,0.6);
	
	position: absolute;
	top: 0;
	/*display: flex;*/
	justify-content: center;
	align-items:  center;
	display:none;
}
.popContent1{
width: 500px;
height: 400px;
background-color: white;
opacity: 1;
position: relative;
padding: 20px;
align-items: block;
}
.close1{
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 40px;
	transform: rotate(45deg);
	cursor: pointer;
	
}
select{
	width:50%;
	display: block;
}